.carouselItem{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) , rgba(0, 0, 0, 0));
    position: relative; overflow: hidden;
}



.carouselImages{
    position:relative;
    z-index:-1;
    display:block;

    max-width: 100%;
    height: auto;
}

.carouselItem2{
    background-image: linear-gradient(rgb(0,145,62 , 0.5), rgb(0,145,62 , 0.2) , rgb(0,145,62 , 0.2) , rgb(0,145,62 , 0.5));
    position: relative; overflow: hidden;
}


.carousel::before{
    background: url('../assets/home/left-pattern_800.png')!important;
    position: absolute;
    z-index: 1
}

.section1{
    padding-top: 50px;
    background: url('../assets/home/tpattern-bg.jpg') center center repeat;
    font-family: Rubik;
    width: 100%;
}
 p{
    color: gray;
}

h1{
    color: #00913E;
}

.icon{

}

.icon_text h4{
    color: #72B62B;
    font-weight: 100 !important;
}

.icon_text p{
    color: gray;
    font-size: 16px;
    font-weight: 100;
}

