.carouselItem{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1) , rgba(0, 0, 0, 0));
    position: relative; overflow: hidden;
}


.carouselImages{
    position:relative;
    z-index:-1;
    display:block;

    max-width: 100%;
    height: auto;
}

.carousel::before{
    background: url('../assets/home/left-pattern_800.png')!important;
    position: absolute;
    z-index: 1
}

.section1{
    padding-top: 50px;
    background: url('../assets/home/tpattern-bg.jpg') center center repeat;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;
}
.section1 p{
    color: gray;
}

.section1 h1{
    color: #00913E;
}