.float{
    position:fixed;
	bottom:40px;
	right:40px;
    z-index: 999;
}
.floatingBtn{
	width:60px;
	height:60px;
	color:#FFF;
    border: none;
    background-color: #FFB800;
	text-align:center;
    border-radius: 50%;
}

.chatBox{
    width: 440px;
    height: 620px;
    background-color: #FFF;
    border-radius: 8px 8px 0px 8px;
    background-color: #72B62B;
}
.header{
    color:#FFF; 
    height: 13%;
    width: 100%;
}
.header h4{
    font-size: 18px;
    font-weight: bold;
}
.header h5{
    font-size: 14px;
    font-weight: lighter;
}

.header button{
    border-radius: 50%;
    background-color: rgb(0, 0, 0 , 0.2);
    height: 30px;
    width: 30px;
    padding: 0%;
    border: none;
}
.header button:hover{
    background-color: rgb(0, 0, 0 , 0.4);
}
.chat{
    background: rgb(139,249,167);
    background: linear-gradient(45deg, rgba(139,249,167,1) 0%, rgba(213,255,223,1) 29%, rgba(245,255,244,1) 68%, rgba(255,255,255,1) 100%);
    height: 87%;
    width: 100%;
    border-radius: 0px 0px 8px 8px;
}